  <section class="tab">
        <ul class="nav nav-pills">
          <li ng-class="{ active: tab.isSet(1) }">
            <a href ng-click="tab.setTab(1)" align="center">Description</a></li>
          <li ng-class="{ active: tab.isSet(2) }">
            <a href ng-click="tab.setTab(2)" align="center">Specs</a></li>
          <li ng-class="{ active: tab.isSet(3) }">
            <a href ng-click="tab.setTab(3)" align="center">Reviews</a></li>
        </ul>
        <div ng-show="tab.isSet(1)" >
          <product-description>
          </product-description>
          </div>
        <div ng-show="tab.isSet(2)">
          <product-specification>
          </product-specification>
        </div>
        <div ng-show="tab.isSet(3)">
          <product-review>
          </product-review>
            </div>      
      </section>